@import "tailwindcss";

:root {
  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;

  color: #111111;
  background-color: #ffffff;
  
  --link-color: #08488d;
  --link-hover-color: #1b72c4;
  --bg-color-menu: #f5f6f7;
  --bg-color-menu-hover: #f9f9f9;
  --bg-color-selected: #d6ecfe;
  --bg-hover-color: #dddddd;
  --bg-active-color: #d2d2d2;
  --text-color-secondary: #6b7280;
  
  --bd-color: #dadbdc;

  --bg-message-user-color: #f8fafc;

  --bg-code-result-color: #ecfdf5;
  --bg-code-error-color: #fef2f2;
  font-size: 14px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #cecece;
    background-color: #0a0a0a;

    --link-color: #9eb7d2;
    --link-hover-color: #91c9fd;
    --bg-color-menu: #323232;
    --bg-color-menu-hover: #5c5c5c;
    --bg-color-selected: #252c50;
    --bg-hover-color: #303030;
    --bg-active-color: #636363;
    --text-color-secondary: #999999;

    --bd-color: #444444;

    --bg-message-user-color: #161616;
    
    --bg-code-result-color: #032917;
    --bg-code-error-color: #2e0101;
  }
}


html {
  margin: 0;
  padding: 0;
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  position: fixed;
  overscroll-behavior: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  position: fixed;
  overscroll-behavior: none;
}

a {
  color: var(--link-color);
}
a:hover {
  color: var(--link-hover-color);
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word; /* Deprecated, but good for older IE support */
  overflow-wrap: break-word; /* Standard property for breaking long words */
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overscroll-behavior: none;
}

/* global styles */
.markdown-body {
  background-color: transparent;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--bg-color-menu);
  border-top: 1px solid var(--bd-color);
  border-bottom: 1px solid var(--bd-color);
  width: 100%;
  height: 7rem;

  position: absolute;
  top: calc(2.5rem - 1px);
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-icon {
  font-size: 1.8rem;
  margin-top: 0.4rem;
}

.menu-group {
  height: calc(100% - 2px); /* 2px border for top and bottom */
  margin: 0 0.5rem 0 0;
  padding: 0 0.5rem 0 0;
  border-right: 1px solid var(--bd-color);
}
.menu-group:last-child {
  border-right: none;
}

.menu-group-box {
  height: 5rem;
  padding: 0.5rem 0;
  display: flex;
  border-bottom: 1px solid var(--bd-color);
}

.menu-group-title {
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  width: 100%;
  /* 2.5 navi + 7 menu + 2 footer */
  height: calc(100dvh - 11.5rem);
  padding: 0.5rem;

  position: absolute;
  top: 9.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
  background-color: var(--bg-color-menu);
  border-top: 1px solid var(--bd-color);
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.btn-like-text {
  padding: 0.2rem 0.3rem;
  background-color: var(--bg-color-menu);
  border-radius: 0.3rem;
}
.btn-like-text:hover {
  background-color: var(--bg-hover-color);
}